<h2>Groups used for this test run</h2><table border="1">
<tr> <td align="center"><b>Group name</b></td><td align="center"><b>Methods</b></td></tr><tr><td>MAA_Demo</td><td>SampleTest.MAA_Scenarios()[pri:0, instance:com.tests.SampleTest@4b6995df]<br/></td></tr>
</table>
