<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="acaa9f">  <td>18/02/14 12:55:03</td>   <td>0</td> <td>&nbsp;</td><td title="&gt;&gt;SampleTest.setup()[pri:0, instance:com.tests.SampleTest@4b6995df]">&gt;&gt;setup</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@288665596</td>   <td></td> </tr>
<tr bgcolor="acaa9f">  <td>18/02/14 12:55:55</td>   <td>51988</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SampleTest.MAA_Scenarios()[pri:0, instance:com.tests.SampleTest@4b6995df]">MAA_Scenarios</td> 
  <td>main@288665596</td>   <td></td> </tr>
</table>
